<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootatrap v.5.3 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- CSS Style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>tododo</title>
</head>
<body>
    <!-- Header -->
    <div class="container-fluid nav-bar mb-5 px-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-2 me-auto px-0">
                <ul class="nav justify-content-center">
                    <li>
                        <a class="nav-link text-dark fs-2 fw-bold" href="/">tododo</a>
                    </li>
                </ul>
                </div>
                <div class="col-md-2 px-0">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="/custom/<%= active %>"><%= active %> [Custom Todo]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/custom"><i class="fa-solid fa-house"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Input Todo -->
    <% if (status!=="success") { %>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= status %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <form action="/custom/<%= active %>" method="POST">
                    <div class="input-group mb-3 shadow">
                        <input type="text" class="form-control rounded-start" placeholder="add tododo..." name="todo" required autofocus>
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-calendar-plus"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Card Todo -->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mx-auto border-0 shadow">
                    <ul class="list-group list-group-flush border-0">
                    <% for( var i = 0; i < todo.length; i++){ %>
                            <li class="list-group-item d-flex justify-content-between <%= check[i] %>" id="<%= id[i] %>">
                                <div class="list">
                                    <p class="form-check-label pe-1 m-0">
                                        <i class="fa-solid fa-thumbtack pe-2"></i><%= todo[i] %>
                                    </p>
                                </div>
                                <div class="button d-flex gap-1">
                                        <form action="/custom/check/<%= active %>" method="post">
                                        <input type="hidden" value="<%= check[i] %>" name="check">
                                        <input type="hidden" value="<%= id[i] %>" name="key">
                                        <button class="badge bg-success border-0" type="submit"><i class="fa-solid fa-check"></i></button>
                                    </form>
                                            <form action="/custom/delete/<%= active %>" method="post">
                                        <input type="hidden" value="<%= id[i] %>" name="deletedTodo">
                                        <button class="badge bg-danger border-0" type="submit"><i class="fa-regular fa-trash-can"></i></button>
                                    </form>
                                </div>
                            </li>
                    <% } %>
                      
                    </ul>
                  </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="container-fluid footer mt-5 <%= todo.length >= 13 ? 'sticky-bottom' : 'fixed-bottom' %>">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p class="text-dark fw-bold d-block text-center py-3 my-auto">Copyright © <%= new Date().getFullYear(); %> by ralfzzz</p>
            </div>
        </div>
    </div>
</body>
<!-- jQuery v.3.7 -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<!-- JS -->
<script src="/js/script.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>